.hero {
  align-items: center;
  background: black;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100vw;

  h1 {
    color: white;
    font-size: 4rem;
  }

  h2 {
    color: white;
    font-size: 2rem;
    font-style: italic;
  }
}
